body{
  font-family:'Roboto', sans-serif;
  color:#333;
  height: 100%;
}

p {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header{
  padding:20px;
  padding-left: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid whitesmoke;
  background-color:white;
  display: block;
}

.h6-subheader {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 12px;
}

.icon{
  margin-left:10px;
  margin-right:10px;
}

.icon.left{
  margin-left:0px;
}

.green{
  color:#00B18B;
}

.blue{
  color:#0387C8;
}

.red{
  color:#F56044;
}

.dark-grey{
  color:#727272;
}

.orange{
  color:#FF9F00;
}

.status + action{
  font-size:12px;
}

@media (max-width: 990px) {
  .request-new{
    margin-top:30px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    color:white;
    background-color:#0387C8;
    width:100%;
  }
}

@media (min-width:991px) {
  .request-new{
    margin-top:30px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    color:white;
    background-color:#0387C8;
    width:60%;
  }
}

table{
  border-spacing:0;
  border-collapse:collapse;
}

.table-cell{
  padding-top:20px;
  padding-bottom:20px;
  background-color:white;
  margin:10px;
}

.tableheader{
  border-bottom:1px solid #0387c8;
}

.subHeader{
  padding-top:20px;
  padding-bottom:10px;
  border-bottom:1px solid #0387c8;
  margin-bottom:20px;
}

.status{
  /*border-top:1px solid #f3f4f5;
  border-bottom:1px solid #0387c8; */
  padding: 15px;
  margin-top:20px;
  /*margin-bottom:20px;*/
  background-color: whitesmoke;
}

.p-status{
  margin-bottom: 0px;
}

.backButton{
  margin-bottom:20px;
}

.bottom-aligner{
  display: block;
  vertical-align:bottom;
}

.middle-aligner{
  display: inline;
  vertical-align:middle;
}

.category-row{
  margin-left: 0px;
  margin-right: 0px;
  padding:10px;
  padding-top:10px;
  padding-bottom:0px;
  background-color:#fefefe;
}

.cat1{
  border-left:5px solid #1055b4;
}


td.cat1.accordion{
  background-color:#1055b4;
  color:white;
  border: none;

}

div.cat1.accordion{
  background-color:#1055b4;
  color:white;
  border: none;
  min-height: 20px;
  height:auto;
  padding: 12.5px;
  margin-bottom: 10px;
}

.cat1.heading{
  color:#1055b4;
  border:none;
}

.cat2{
  border-left:5px solid #FF9F00;
}

td.cat2.accordion{
  background-color:#ff9f00;
  color:white;
  border: none;
}

div.cat2.accordion{
  background-color:#ff9f00;
  color:white;
  border: none;
  min-height: 20px;
  padding: 12.5px;
  margin-bottom: 10px;
}

.cat2.heading{
  color:#ff9f00;
  border:none;
}

.cat3{
  border-left:5px solid #E20073;
}

td.cat3.accordion{
  background-color:#E20073;
  color:white;
  border: none;
}

div.cat3.accordion{
  background-color:#E20073;
  color:white;
  border: none;
  min-height: 20px;
  padding: 12.5px;
  margin-bottom: 10px;
}

.cat3.heading{
  color:#E20073;
  border:none;
}

.category-parent {
  display: flex;
  flex-direction: row;
  margin-bottom:2px;
}

.product-column{
  background-color:white;
  margin-bottom:10px;
}

td.product-column.text-right{
  vertical-align:bottom;
}

.product-name {
  background-color:white;
  padding-top: 10px;
  border-bottom: 1px solid whitesmoke;
  margin-left: 0;
  margin-right: 0;
}

.product-detail {
  background-color:white;
  padding-top: 10px;
  padding-bottom:10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 12px;
}

.qty-field {
  height: 40px;
}

.search-bar{
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  border:1px solid #c8c8c8;
  border-radius:6px;
  padding:10px;
  background-color:#f5f5f5;
}

td.category-color{
  width:40px;
}

div.category-color{
  width: 12.5%;
}

.btn-green{
  background-color:#00B18B;
  color:white;
  padding-left:20px;
  padding-right:20px;
  width: 100%;
}

.btn-blue{
  background-color:#0387c8;
  color:white;
  padding-left:20px;
  padding-right:20px;
  width:100%;
}

.btn-red{
  background-color:#F56044;
  color:white;
  padding-left:20px;
  padding-right:20px;
  width: 100%;
}

.btn-white{
  background-color:#FFF;
  color:#00b18b;
  padding-left:20px;
  padding-right:20px;
  width: 100%;
}

.btn-grey{
  background-color:#F9f9f9;
  color:#00b18b;
  padding-left:20px;
  padding-right:20px;
  width: 100%;
}

.middle-align{
  vertical-align:middle;
}

.push {
  height: 60px;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   padding-top: 10px;
   padding-bottom: 10px;
   background:#f5f5f5;
}

.footer-divide {
  border-right: 1px solid #9b9b9b;
}

.input-group {
  margin-bottom: 20px;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.lightweight-font{
  font-weight:300;
}

.total-amount{
  padding:15px;
  margin-top:15px;
  margin-bottom:15px;
  background-color:#F5F8FA;
}

.photo {
float:left;
margin-top: 10px;
margin-bottom: 20px;
padding-bottom: 10px;
padding-left: 0px;
}

.label-list {
  background-color: #F56044;
  color: #f5f5f5;
  position: absolute;
  top: 50px;
  left: 200px;
  border-radius: 10px;
  z-index: 999;
}

.modal-dialog > div {
  color: #f5f5f5;
  width: 80%;
  position: relative;
  margin: 10% auto;
  padding: 5px 10px 13px 10px;
  border-radius: 10px;
  background-color: rgba(11,180,144,0.95);
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);*/
}

.modal-header {
  border-bottom: 0px;
}

.modal-body {
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px;
}

#imaginary_container{
    margin-top:5%; /* Don't copy this */
}
.item-search .input-group-addon{
    background: white !important;
}
.item-search .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.item-search button{
    border:0;
    background:transparent;
}

.input-group {
  margin-top: 20px !important;
}
