<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE app</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/move.css">
    <link rel="stylesheet" href="assets/css/tables.css">
</head>

<body>
  <div class="container header bottom-aligner">
    <div class="row">
      <div class="col-xs-6">
        <img src = "assets/img/logo-Stock-1.jpg" width = "100%">
      </div>
      <div class="col-xs-6">
        <h6 class="text-uppercase green text-right">
          <i class="fa fa-check icon"></i>
          <strong>online </strong>
        </h6>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <h4 class="">Stock Requisition</h4>
      </div>
      <div class="col-xs-4">
        <h6 class="text-uppercase blue text-right">
          <i class="fa fa-question-circle icon"></i>
          <strong>help </strong>
        </h6>
      </div>
    </div>
  </div>

  <div class="container">
    <a href="/new stock request" class="btn btn-default request-new">
      <i class="fa fa-plus icon"></i>Request New Stock
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h5 class="text-center">Previous Stock Requisitions</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th class="dark-grey">DATE </th>
          <th class="dark-grey text-center">DELIVERED? </th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>28 May 2016</strong></td>
            <td class="text-center"><i class="fa fa-close red"></i></td>
            <td class="blue"><strong>VIEW </strong><i class="fa fa-chevron-right icon"></i></td>
          </tr>

          <tr>
            <td><strong>01 Apr 2016</strong></td>
            <td class="text-center"><i class="fa fa-check green"></i></td>
            <td class="blue"><strong>VIEW</strong> <i class="fa fa-chevron-right icon"></i></td>
          </tr>

          <tr>
            <td><strong>16 Mar 2016</strong></td>
            <td class="text-center"><i class="fa fa-check green"></i></td>
            <td class="blue"><strong>VIEW</strong> <i class="fa fa-chevron-right icon"></i></td>
          </tr>

          <tr>
            <td><strong>22 Feb 2016</strong></td>
            <td class="text-center"><i class="fa fa-check green"></i></td>
            <td class="blue"><strong>VIEW</strong> <i class="fa fa-chevron-right icon"></i></td>
          </tr>

          <tr>
            <td><strong>09 Dec 2015</strong></td>
            <td class="text-center"><i class="fa fa-close red"></i></td>
            <td class="blue"><strong>VIEW</strong> <i class="fa fa-chevron-right icon"></i></td>
          </tr>

          <tr>
            <td><strong>17 Nov 2015</strong></td>
            <td class="text-center"><i class="fa fa-check green"></i></td>
            <td class="blue"><strong>VIEW</strong> <i class="fa fa-chevron-right icon"></i></td>
          </tr>

      </tbody>
    </table>
  </div>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
