<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE app</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/move.css">
    <link rel="stylesheet" href="assets/css/tables.css">
</head>

<body>

  <!--Header-->
    <div class="container header">
      <div class="row">
      <div class="col-xs-8">
        <h6 class="text-uppercase dark-grey">
          <i class="fa fa-chevron-left icon"></i>new stock request
        </h6>
      </div>

      <div class="col-xs-4 text-right">
        <h6 class="text-uppercase green"><i class="fa fa-check icon"></i><strong> online </strong></h6>
      </div>
    </div>
    </div>

    <!--SubHeader-->
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <h5 class="">Requisition List Preview</h5>
          <!-- <p class = "dark-grey"> 28 May 2016 </p> -->
        </div>
        <div class="col-xs-4 text-right">
          <h6 class="text-uppercase dark-grey"><i class="fa fa-question-circle icon"></i><strong>help </strong></h6>
          <!-- <i class="fa fa-search dark-grey fa-border"></i> -->
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="status">
        <p class="p-status"><em class="dark-grey">Please ensure the items on this list are the ones you want</em></p>
      </div>
    </div>
  </div>
</div>

    <!--Products Requested-->
    <div class="container">
    <div class="table-responsive">
      <table class="table">
        <!-- <thead>
          <tr class="dark-grey">
            <th>PRODUCT </th>
            <th class="text-right">COST(N)</th>
            <th class="text-right"> </th>
          </tr>
        </thead> -->

        <tbody>
          <tr class="category-row cat1">
            <td class="product-column">
              <p class="dark-grey"><strong>2 Units</strong></p>
              <p>Product Name</p>
            </td>
            <td class="product-column">
              <p>N3,700 </p>
            </td>
            <td class="product-column  blue">
              <p><a class="text-uppercase blue" href="#">
                <!-- <strong>EDIT</strong> -->
                <!-- <i class="fa fa-chevron-right icon"></i> -->
                <i class="fa fa-edit icon"></i>
              </a></p>
            </td>
          </tr>

          <tr class="category-row cat1">
            <td class="product-column">
              <p class="dark-grey"><strong>5 Vials</strong></p>
              <p>Product Name</p>
            </td>
            <td class="product-column">
              <p>N450,000 </p>
            </td>
            <td class="product-column blue">
              <p><a class="text-uppercase blue" href="#">
                <!-- <strong>EDIT</strong> -->
                <!-- <i class="fa fa-chevron-right icon"></i> -->
                <i class="fa fa-edit icon"></i>
              </a></p>
            </td>
          </tr>

          <tr class="category-row cat2">
            <td class="product-column">
              <p class="dark-grey"><strong>10 Units</strong></p>
              <p>Long Product Name That Goes on Forever</p>
            </td>
            <td class="product-column">
              <p>N450,000 </p>
            </td>
            <td class="product-column blue">
              <p><a class="text-uppercase blue" href="#">
                <!-- <strong>EDIT</strong> -->
                <!-- <i class="fa fa-chevron-right icon"></i> -->
                <i class="fa fa-edit icon"></i>
              </a></p>
            </td>
          </tr>

          <tr class="category-row cat3">
            <td class="product-column">
              <p class="orange">
                <i class="icon left fa fa-clock-o"></i>
                <strong>Restock Alert</strong>
              </p>
              <p>Longer Product Name</p>
            </td>
            <td class="product-column">
              <p>N450,000 </p>
            </td>
            <td class="product-column blue">
              <p><a class="text-uppercase blue" href="#">
                <!-- <strong>EDIT</strong> -->
                <!-- <i class="fa fa-chevron-right icon"></i> -->
                <i class="fa fa-edit icon"></i>
              </a></p>
            </td>
          </tr>

          <tr class="category-row">
            <td class="product-column">
              <p><strong>TOTAL </strong></p>
            </td>
            <td class="product-column">
              <p><strong>N453,700 </strong></p>
            </td>
            <td class="product-column"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--Send-->
    <div class="container text-center">
      <button class="btn btn-blue" type="button" data-target="myModal" data-toggle="Modal">
        SEND REQUEST
      </button>
    </div>

  <!-- Footer -->
  <div class="push"></div>
  <div class="footer">
    <!-- <div class="col-md-4 text-center">
      <button class="btn btn-blue" type="button" data-toggle="modal" data-target="#myModal">SEND REQUEST</button>
    </div> -->
    <div class="push"></div>
    <div class="footer">
      <div class="col-xs-6 text-center">
        <a role="button" href="preview list.html">
          <h6 class="text-uppercase dark-grey">
          <i class="fa fa-shopping-cart fa-border icon left"></i>
          <strong>cart (4)</strong>
          </h6>
        </a>
      </div>
      <div class="col-xs-6 text-center">
        <a role="button" href="all invoices.html">
          <h6 class="text-uppercase dark-grey">
          <i class="fa fa-file-o fa-border icon left"></i> invoices
          </h6>
        </a>
      </div>
      <!-- <div class="col-xs-4 text-center">
        <h6 class="text-uppercase dark-grey"><i class="fa fa-search fa-border icon left"></i> search </h6>
      </div> -->
    </div>
  </div>


  <!-- Modal -->
    <div  id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sent">

        <!-- Modal content-->
        <div class="modal-content">
          <!-- <div class="modal-header">
            <p class="text-right"><i class= "fa fa-close icon"></i>CLOSE</p>
          </div> -->

          <div class="modal-body">
            <div class="push"></div>
            <div class="text-center">
              <i class="fa fa-check-circle fa-2x"></i>
            </div>
            <h4 class="text-center"> Stock Requisition Sent! </h4>
            <p class="text-center">You will receive an invoice for in-stock items in your registered email. </p>
          </div>
          <div class="modal-footer">
            <a role="button" class="btn btn-sent" href="requisition.html">OK</a>
            <!-- <button type="button" class="btn btn-white" data-dismiss="modal">OK</button> -->
          </div>
        </div>

      </div>
    </div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
