<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE app</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/move.css">
    <link rel="stylesheet" href="assets/css/tables.css">
</head>

<body>
  <!--Header-->
    <div class="header">
      <div class="row">
        <div class="col-xs-8">
          <h5><a href="home.html" class="colorless"><i class="fa fa-chevron-left icon"></i></a>Settings</h5>
        </div>

        <div class="col-xs-4 text-right">
          <h6 class=""><i class="fa fa-question-circle icon left"></i><strong>HELP </strong></h6>
        </div>
      </div>
    </div>

    <div class="container subheader">
      <div class="row">
        <div class="col-xs-8">
          <h6>Settings Summary</h6>
        </div>
        <div class="col-xs-4 text-right">
          <h6 class="green"><i class="fa fa-check"></i><strong> ONLINE </strong></h6>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="">
        <a href="facility-profile.html" class="colorless">
          <div class="product-name">
            <div class="row">
              <div class="col-xs-1">
                <h5 class="orange"><i class="fa fa-info-circle fa-lg"></i></h5>
              </div>
              <div class="col-xs-9">
                <h5 class="orange">Facility Profile</h5>
                <h5>Bantaje Primary Healthcare Center</h5>
                <h5>Amina Yusuf (08012345678)</h5>
                <!-- <h5>08012345678</h5>
                <h5>a.yusuf@aa.org</h5> -->
              </div>
              <div class="col-xs-1">
                <h5 class="orange"><i class="fa fa-chevron-right fa-lg"></i></h5>
              </div>
            </div>
          </div>
        </a>

        <a href="programs.html" class="colorless">
          <div class="product-name">
            <div class="row">
              <div class="col-xs-1">
                <h5 class="orange"><i class="fa fa-medkit fa-lg"></i></h5>
              </div>
              <div class="col-xs-9">
                <h5 class="orange">Programs</h5>
                <h5>RI (13 products)</h5>
              </div>
              <div class="col-xs-1">
                <h5 class="orange"><i class="fa fa-chevron-right fa-lg"></i></h5>
              </div>
            </div>
          </div>
        </a>

        <a href="cce-config.html" class="colorless">
          <div class="product-name">
            <div class="row">
              <div class="col-xs-1">
                <h5 class="orange"><i class="fa fa-asterisk fa-lg"></i></h5>
              </div>
              <div class="col-xs-9">
                <h5 class="orange">Cold Chain Equipment</h5>
                <h5>1 Ice pack freezer</h5>
                <h5>1 Others</h5>
              </div>
              <div class="col-xs-1">
                <h5 class="orange"><i class="fa fa-chevron-right fa-lg"></i></h5>
              </div>
            </div>
          </div>
        </a>

        <a href="location-config.html" class="colorless">
          <div class="product-name">
            <div class="row">
              <div class="col-xs-1">
                <h5 class="orange"><i class="fa fa-map-marker fa-lg"></i></h5>
              </div>
              <div class="col-xs-9">
                <h5 class="orange">Delivery Locations</h5>
                <h5>1 zone</h5>
                <h5>6 LGAs</h5>
              </div>
              <div class="col-xs-1">
                <h5 class="orange"><i class="fa fa-chevron-right fa-lg"></i></h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>



  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
