<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE app</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/move-header2.css">
    <link rel="stylesheet" href="assets/css/move.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>


  <!--Header-->

    <div class="container header bottom-aligner">
      <div class="row">
      <div class="col-xs-6">
        <img src = "assets/img/logo-Stock-1.jpg" width = "100%">
      </div>

      <div class="col-xs-6 text-right">
        <h6 class="text-uppercase green"><i class="fa fa-check icon"></i><strong>online </strong></h6>
      </div>
    </div>
    </div>

    <div class="container">
      <p class="text-uppercase blue backButton">
        <i class="fa fa-chevron-left icon left"></i>back
      </p>
    </div>

    <!--SubHeader-->
    <div class="container">
      <div class="row">
      <div class="col-xs-8">
        <h4 class="">Stock Requisition for</h4>
        <p class = "dark-grey"> 28 May 2016 </p>
      </div>
      <div class="col-xs-4 text-right">
        <h6 class="text-uppercase blue"><i class="fa fa-question-circle icon"></i><strong>help </strong></h6>
      </div>
    </div>
    </div>

    <div class="container status">
      <span class="text-uppercase"> status: </span>
      <span class="text-uppercase blue">
        <i class="fa fa-spinner icon"></i>
        <strong>awaiting payment</strong>
      </span>
    </div>

    <div class="dropdown text-center blue">
      <button class="btn btn-default request-new dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Filter By 
        <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation"><a href="#">First Item</a></li>
          <li role="presentation"><a href="#">Second Item</a></li>
          <li role="presentation"><a href="#">Third Item</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="dark-grey">PRODUCT </th>
                        <th class="dark-grey text-right">COST (N)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="category-row cat1">
                        <td class="product-column">
                            <p class="dark-grey"><strong>2 Units</strong></p>
                            <p>Product Name</p>
                        </td>
                        <td class="product-column text-right">
                            <p>3,700 </p>
                        </td>
                    </tr>
                    <tr class="category-row cat1">
                        <td class="product-column">
                            <p class="dark-grey"><strong>5 Vials</strong></p>
                            <p>Product Name</p>
                        </td>
                        <td class="product-column text-right">
                            <p>450,000 </p>
                        </td>
                    </tr>
                    <tr class="category-row cat2">
                        <td class="product-column">
                            <p class="dark-grey"><strong>10 Units</strong></p>
                            <p>Long Product Name That Goes on Forever</p>
                        </td>
                        <td class="product-column text-right">
                            <p>450,000 </p>
                        </td>
                    </tr>
                    <tr class="category-row">
                        <td class="product-column">
                            <p><strong>TOTAL </strong></p>
                        </td>
                        <td class="product-column text-right">
                            <p><strong>453,700 </strong></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <h5 class="text-uppercase dark-grey">restock alert requests</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Product Name</td>
                        <td class="text-right green"><strong>ALERT SENT </strong></td>
                    </tr>
                    <tr>
                        <td>Longer Product Name</td>
                        <td class="text-right orange"><strong>ALERT PENDING </strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
