<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE app</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/move.css">
    <link rel="stylesheet" href="assets/css/tables.css">
</head>

<body class="pic">
  <div class="">
    <!--Header-->
      <div class="container header-transparent">
        <div class="push"></div>
        <div class="container">
          <div class="row text-center">
            <div class="col-xs-12">
              <h4><img src="assets/img/logo-trim.png" width="20%"></img></h4>
              <h4 class="">LOMIS STOCK</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center">
        <div class="push"></div>

        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        <div class="push"></div>
        <h6>Loading app configuration</h6>

        <div class="push"></div>


      </div>
  </div>



  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
