<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE app</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/move.css">
    <link rel="stylesheet" href="assets/css/tables.css">
</head>

<body ng-controller="HomeController">

  <!--Header-->
    <div class="header">
      <div class="row">
        <div class="col-xs-8">
          <h5><a href="requisition.html" class="colorless"><i class="fa fa-chevron-left icon"></i></a>New Stock Request</h5>
        </div>

        <div class="col-xs-4 text-right">
          <h6 class=""><i class="fa fa-question-circle icon"></i><strong>HELP </strong></h6>
        </div>
      </div>
    </div>

    <!--SubHeader-->
    <div class="container subheader">
      <div class="row">
        <div class="col-xs-8">
          <h6>SHOPPING CART (4)</h6>
        </div>
        <div class="col-xs-4 text-right green">
          <h6><i class="fa fa-check"></i><strong> ONLINE </strong></h6>
          <!-- <i class="fa fa-search dark-grey fa-border"></i> -->
        </div>
      </div>
    </div>


  <div class="container">
    <div class="product-name">
      <div class="row">
        <div class="col-xs-12">
          <div id="imaginary_container">
            <div class="input-group item-search">
              <input type="text" class="form-control"  placeholder="Search for a product" >
              <span class="input-group-addon">
                <button type="submit">
                  <span class="fa fa-search"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
  	 </div>
    </div>
  </div>

<!--Category list-->
  <div class="container">
    <div class="row category-row">
      <div class="panel-group" id="accordion">
        <div class="col-xs-12 cat1 accordion panel-heading">
          <h5 class="text-uppercase text-center"> category 1 </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse-in">
        <div class="panel-body">
          <!-- <table class="table">
            <tr>
              <td>
                <p><strong>Product Name</strong></p>
              </td>
              <td>
                <p><strong>Price</strong></p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>Product Name</strong></p>
              </td>
              <td>
                <p><strong>Price</strong></p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>Product Name</strong></p>
              </td>
              <td>
                <p><strong>Price</strong></p>
              </td>
            </tr>
          </table> -->

          <div class="row product-name">
            <div class = "col-xs-6">
              <p><strong>Product Name</strong></p>
            </div>
            <div class="col-xs-6 text-right">
              <p><strong>N9,600</strong></p>
            </div>
          </div>

          <div class="row product-name">
            <div class = "col-xs-6">
              <p><strong>Product Name</strong></p>
            </div>
            <div class="col-xs-6 text-right">
              <p><strong>N9,600</strong></p>
            </div>
          </div>

          <div class="row product-name">
            <div class = "col-xs-6">
              <p><strong>Product Name</strong></p>
            </div>
            <div class="col-xs-6 text-right">
              <p><strong>N9,600</strong></p>
            </div>

          </div>

        </div>
        </div>
      </div>
      <div class="col-xs-12 cat2 accordion">
        <h5 class="text-uppercase text-center"> category 2 </h5>
      </div>
      <div class="col-xs-12 cat3 accordion">
        <h5 class="text-uppercase text-center"> category 3 </h5>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <!-- <div class="push"></div>
  <div class="footer">
    <div class="col-xs-6 text-center">
      <a role="button" href="preview list.html">
        <h6 class="text-uppercase dark-grey">
        <i class="fa fa-shopping-cart fa-border icon left"></i>cart
        </h6>
      </a>
    </div>
    <div class="col-xs-6 text-center">
      <a role="button" href="all invoices.html">
        <h6 class="text-uppercase dark-grey">
        <i class="fa fa-file-o fa-border icon left"></i> invoices
        </h6>
      </a>
    </div>
  </div> -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
