<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE app</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/move.css">
    <link rel="stylesheet" href="assets/css/tables.css">
</head>

<body>


  <!--Header-->
    <div class="container header">
      <div class="row">
      <div class="col-xs-8">
        <h6 class="text-uppercase dark-grey">
          <i class="fa fa-chevron-left icon"></i>home
        </h6>
      </div>

      <div class="col-xs-4 text-right">
        <h6 class="text-uppercase green"><i class="fa fa-check icon"></i><strong> online </strong></h6>
      </div>
    </div>
    </div>

    <!--SubHeader-->
    <div class="container">
      <div class="row">
      <div class="col-xs-8">
        <h5 class="">Stock Requisition for</h5>
      </div>
      <div class="col-xs-4 text-right">
        <h6 class="text-uppercase dark-grey h6-subheader"><i class="fa fa-question-circle icon"></i><strong>help </strong></h6>
      </div>
    </div>

    <div class="row">
    <div class="col-xs-6">
      <p class = "dark-grey"> 28 May 2016 </p>
    </div>
    <div class="col-xs-6 text-right">
      <a href="invoice.html">
        <h6 class="text-uppercase dark-grey h6-subheader">
          <i class="fa fa-file-o icon"></i> <strong>view invoice </strong>
        </h6>
      </a>
    </div>
  </div>

    </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="status">
          <p class="text-center">
            <span class="text-uppercase"> status: </span>
            <span class="text-uppercase blue">
              <i class="fa fa-spinner icon"></i>
              <strong>awaiting payment</strong>
            </span>
          </p>
        </div>
    </div>
    </div>
  </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" aria-label="..." placeholder="Type to search">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Category 2</a></li>
                    <li><a href="#">Category 3</a></li>
                  </ul>
              </div><!-- /btn-group -->
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div>

    <!--Products Requested-->
    <div class="container">
      <div class="table-responsive">
        <table class="table">
          <!-- <thead>
            <tr>
              <th class="dark-grey">PRODUCT </th>
              <th class="dark-grey text-right">COST(N)</th>
            </tr>
          </thead> -->

          <tbody>
            <tr class="category-row cat1">
              <td class="product-column">
                <p class="dark-grey"><strong>2 Units</strong></p>
                <p>Product Name</p>
              </td>
              <td class="product-column text-right">
                <p>N3,700 </p>
              </td>
            </tr>

            <tr class="category-row cat1">
              <td class="product-column">
                <p class="dark-grey"><strong>5 Vials</strong></p>
                <p>Product Name</p>
              </td>
              <td class="product-column text-right">
                <p>N450,000 </p>
              </td>
            </tr>

            <tr class="category-row cat2">
              <td class="product-column">
                <p class="dark-grey"><strong>10 Units</strong></p>
                <p>Long Product Name That Goes on Forever</p>
              </td>
              <td class="product-column text-right">
                <p>N450,000 </p>
              </td>
            </tr>

            <tr class="category-row">
              <td class="product-column">
                <p><strong>TOTAL </strong></p>
              </td>
              <td class="product-column text-right">
                <p><strong>N903,700 </strong></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--Restock Alert Requests-->
    <div class="container">
      <h6 class="category-row text-uppercase dark-grey">restock alert requests</h6>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><p>Product Name</p></td>
              <td class="text-right green"><p><strong>ALERT SENT </strong></p></td>
            </tr>

            <tr>
              <td><p>Longer Product Name<p></td>
              <td class="text-right orange"><p><strong>ALERT PENDING </strong></p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Footer -->
    <div class="push"></div>
    <div class="footer">
      <div class="col-xs-6 text-center">
        <a role="button" href="preview list.html">
          <h6 class="text-uppercase dark-grey">
          <i class="fa fa-shopping-cart fa-border icon left"></i>cart
          </h6>
        </a>
      </div>
      <div class="col-xs-6 text-center">
        <a role="button" href="all invoices.html">
          <h6 class="text-uppercase dark-grey">
          <i class="fa fa-file-o fa-border icon left"></i> invoices
          </h6>
        </a>
      </div>
      <!-- <div class="col-xs-4 text-center">
        <h6 class="text-uppercase dark-grey"><i class="fa fa-search fa-border icon left"></i> search </h6>
      </div> -->
    </div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
