node_modules
dist
.tmp
.sass-cache
app/bower_components
.idea/
npm-debug.log
test/bower_components
app/scripts/config.js
app/scripts/translations.js
build
nbproject/private/
po/template.pot
.android/
.vs/
move.sln

