<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.ehealthafrica.lomis" version="0.11.4">
  <name>LoMIS</name>
  <description>
    User centered medical supply management
  </description>
  <author email="support@ehealthafrica.org" href="http://ehealthafrica.org">
    eHealth Africa
  </author>
  <content src="index.html"/>
  <access origin="http://lomis.ehealth.org.ng:5984/*"/>
  <access origin="http://dev.lomis.ehealth.org.ng:5984/*"/>
  <preference name="xwalkversion" value="org.xwalk:xwalk_core_library:12.41.296.9"/>
</widget>
