<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span>
        {{ ($index + 1) }}
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <label translate>Product Types</label>
        <span class="new-line" ng-bind="(inventoryLine.productTypeObj).name"></span>
      </div>

      <div class="col-sm-4">
        <label translate>Batch No</label>
        <span class="new-line" ng-bind="inventoryLine.batch_no"></span>
      </div>

      <div class="col-sm-4">
        <label translate>Program</label>
        <span class="new-line" ng-bind="(inventoryLine.programObj).name"></span>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <label translate>Quantity</label>
        <span class="new-line" ng-bind="inventoryLine.quantity"></span>
      </div>

      <div class="col-sm-4">
        <label translate>Unit of measurement</label>
        <span class="new-line" ng-bind="(inventoryLine.uomObj).name"></span>
      </div>

      <div class="col-sm-4">
        <label translate>Storage Unit</label>
        <span class="new-line" ng-bind="(inventoryLine.storageUnitObj).name"></span>
      </div>
    </div>
  </div>
</div>
