<div>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true" ng-click="onboardingCtrl.close()">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">First time here?</h4>
    </div>
    <div class="modal-body" id="modal-body">
      <ul class="fa-ul">
        <li class="spacer"> <p><i class="fa-li fa fa-lock"></i> If you don't have an email address and password to log in, contact your administrator or call <strong>08012345678</strong></p></li>

        <li class="spacer"> <p><i class="fa-li fa fa-info-circle"></i> Fill in contact information for this facility</p></li>

        <li class="spacer"> <p><i class="fa-li fa fa-briefcase"></i> Configure programs this facility participates in</p></li>

        <li class="spacer"> <p><i class="fa-li fa fa-asterisk"></i> Fill in equipment information (cold chain units, generators, etc)</p></li>

        <li class="spacer"> <p><i class="fa-li fa fa-map-marker"></i> </p><p>Configure locations this facility delivers or receives stock from</p></li>

      </ul>
    </div>
    <div class="modal-footer">
      <div class="row">
        <!-- <div class="col-xs-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
        <div class="col-xs-12">
          <button ng-click="onboardingCtrl.close()" class="colorless btn btn-save">
            <span>Continue</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
